<div class="container" ng-if="currentUser">

  <!-- Manage Users Titlebar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse"></button>
      <a class="navbar-brand" href="javascript:void(0)">Manage Users</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/add_user">Add User</a></li>
      <!--<li><a href="javascript:void(0)">List View</a></li> -->
    </ul>

    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-12" placeholder="Search" ng-model="searchText">
      </form>
    </div>
  </div>

  <!-- ng-repeat user panel -->
  <div class="col-lg-4 animated bounceInUp" ng-repeat="user in userData | filter:searchText | limitTo:15">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{user.email}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-4">
          <img src="images/photo.jpg" />
        </div>
        <ul class="list-unstyled col-lg-6 ">
          <li><strong>Username: </strong>{{user.username}}</li>
          <li><strong>Email: </strong>{{user.email}}</li>
        </ul>
        <div class="row pull-right col-lg-8"><span><a href="/edit_user/{{user._id}}">[ Edit ]</a> </span><span><a ng-click="deleteUser(user)" href="javascript:void(0)">[ Delete ]</a> </span><span ng-switch="user.locked"><a ng-switch-when="true" ng-click="unLockUser(user)" href="javascript:void(0)">[ Unlock ]</a><a ng-switch-when="false" ng-click="lockUser(user)" href="javascript:void(0)">[ Lock ]</a></span>
        </div>
      </div>
    </div>
  </div>

</div>
